@model IEnumerable<ControleDeFuncionarios.Models.ColaboradorModel>

@{
	ViewData["Title"] = "Detalhes";
}

@foreach (var item in Model)
{
	<div>
		

		<div>
			<h2 class="display-6">Dados do Colaborador</h2>
			<form class="row g-3">
				<div class="col-md-6">
					<label for="inputName" class="form-label">Nome completo</label>
					<input type="text" class="form-control" id="inputName" value="@item.NomeColaborador" disabled>
				</div>
				<div class="col-md-3">
					<label for="inputCPF" class="form-label">CPF</label>
					<input disable type="text" class="form-control" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" value="@item.Cpf" disabled>
				</div>
				<div class="col-3">
					<label for="inputAddress" class="form-label">Matrícula</label>
					<input disable type="text" class="form-control" value="@item.Matricula" disabled>
				</div>

			</form>
		</div>

		<div>
			<h2 class="display-6">Dados da Função</h2>
			<form class="row g-3">
				<div class="col-md-3">
					<label for="inputCargo" class="form-label">Nome</label>
					<input type="text" class="form-control" value="@item.Cargo.Funcao" disabled>
				</div>
				<div class="col-md-3">
					<label for="inputCBO" class="form-label">CBO (Classificação Brasileira de Ocupações)</label>
					<input disable type="text" class="form-control" value="@item.Cargo.Cbo" disabled>
				</div>
				<div class="col-5">
					<label for="inputAddress" class="form-label">Descrição</label>
					<textarea type="text" class="form-control" disabled>@item.Cargo.Descricao </textarea>
				</div>
				<div class="col-md-2">
					<label class="form-label">Data de Admissão</label>
					<input type="datetime" class="form-control" value="@item.DataAdmissao?.ToString("dd/MM/yyyy")" disabled />
				</div>
				<div class="col-md-2">
					<label class="form-label">Data de Demissão</label>
					<input type="datetime" class="form-control" value="@item.DataDemissao?.ToString("dd/MM/yyyy")" disabled />
				</div>

			</form>
		</div>

		<div>
			<h2 class="display-6">Dados da Empresa</h2>
			<form class="row g-3">
				<div class="col-3">
					<label for="inputAddress" class="form-label">Razão Social</label>
					<input type="text" class="form-control" value="@item.Empresa.RazaoSocial" disabled>
				</div>
				<div class="col-md-6">
					<label for="inputName" class="form-label">Nome Fantasia</label>
					<input type="text" class="form-control" value="@item.Empresa.NomeFantasia" disabled>
				</div>
				<div class="col-md-3">
					<label for="inputCNPJ" class="form-label">CNPJ</label>
					<input type="text" class="form-control" pattern="\d{2}\.\d{3}\.\d{3}/\d{4}-\d{2}" value="@item.Empresa.Cnpj" disabled>
				</div>

			</form>
			<div class="form-group mt-3">
			
			<a asp-action="Index" class="btn btn-primary">Voltar</a>
		</div>
		</div>
	</div>
}
