@model IEnumerable<ControleDeFuncionarios.Models.ColaboradorModel>

@{
	ViewData["Title"] = "Colaboradores Cadastrados";
}
@if (Model.Count() == 0)
{
	<h1 class= "text-center justify-content-center">Não possui registros!</h1>
	<h2 class= "text-center justify-content-center">Para começar clique em Cadastrar</h2>
}
else
{
	<table class="table text-center">
		<thead>
			<tr>
				<th>
					Nome do Colaborador
				</th>
				<th>
					CPF
				</th>
				<th>
					Matricula
				</th>
				<th>
					Data de Admissão
				</th>
				<th>
					Data de Demissão
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>


			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.NomeColaborador)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Cpf)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Matricula)
					</td>
					<td>
						@((item.DataAdmissao != null) ? item.DataAdmissao.Value.ToString("dd/MM/yyyy") : "")
					</td>
					<td>
						@((item.DataDemissao != null) ? item.DataDemissao.Value.ToString("dd/MM/yyyy") : "")
					</td>
					<td>
						<a asp-action="Editar" asp-route-colaboradorId="@item.Id" class="btn btn-primary @((item.DataDemissao >= item.DataAdmissao) ? "disabled" : "")">Editar</a>
						<a asp-action="Detalhes" asp-route-colaboradorId="@item.Id" class="btn btn-primary">Detalhes</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
